# ホストのURL (本番環境のみ必須)
HOST_ORIGIN_URL="http://localhost:3000"

# markdownファイルのディレクトリパス (開発環境は`.env.development`に記述)
MARKDOWN_DIR_PATH="markdowns"

# DiscordのWebhook URL (必須: `.env.local`に記述)
# ドキュメント: https://discord.com/developers/docs/resources/webhook#execute-webhook
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/{your-webhook-id}/{your-webhook-token}"

# 通知APIの正規リクエストを検証するトークンの秘密鍵/32文字以上のランダムな文字列 (必須: `.env.local`に記述)
TOKEN_SECRET="your-secure-secret-key-32-chars!"
